body{
    width: 100%;
    background-color: black;
}

#wrapper{

}

#title{
background-color: #352D2F;
height: 730px;    
}
#header{
    height:12%;
   
}
#belHeader{
    height: 88%;

}
.tHeader{
    font-family: 
}

.w1{width: 8.3%;}
.w2{width:16.7%;}
.w3{width:25%;}
.w4{width:33.3%;}
.w5{width:41.7%;}
.w6{width:50%;}
.w7{width:58.3%;}
.w8{width:66.7%;}
.w9{width:75%;}
.w10{width:83.3%;}
.w11{width:91.7%;}
.w12{width:100%;}

#352D2F #605A5C #F63C3C #726D6E #30282A