#maindiv{
    width: 600px;
    background-color: darkgrey;

}
#toprow{
    padding: 20px;
}
#gnome{
    background-color: darkslategray;
    color: yellow;
    height: 75px;
    
}
#smalltext{
    background-color: darkslategray;
    color:white;
    height: 75px;
}
h4{
    margin-top: 35px;
}
#bigimage{
    padding: 20px;
}
h2{
    font-family: fantasy;
}
#blogpost{
    background-color: white;
    padding: 20px;
}
#detailsbutton{
    background-color: darkslategray;
    color: white;
    margin-left: 20px;
}
#desc{
    background-color: white;
}
#versatile{
    width: 55px;
    height: 55px;
}
#edit{
    width: 55px;
    height: 55px;
}
#pro{
    width: 55px;
    height: 55px;
}
#blogpost2{
    background-color: white;
}
#blogpost3{
    background-color: white;
}
#adspace{
    background-color: chartreuse;
    width: 600px;
    height: 120px;
}
#blogpost4{
    background-color: white;
    padding: 20px;
}
#divider{
    height: 20px;
    background-color:darkgray;

}
#footer{
    background-color:chocolate;
    width: 600px;
    height: 120px;
    text-align: center;
}
#copyright{
    color: greenyellow;
    margin-top: 50px;
}
#bottomborder{
    background-color: white;
    width: 600px;
    height: 80px;
}
 