body{ 
width: 100%;
height: auto;
}

#headt{
height: 80%;
width: 100%;
background-image: url(assets/backgrounds/landing.jpg);
min-height:635px;
background-repeat: no-repeat;
}
#menu{
width: 100%;
min-height:115px;
}
#header{
width: 100%;
height: 80%;
color:white;
text-align: center;
font-size: 24px;
}
img{
display: block;
margin-left: auto;
margin-right: auto;
}
#middler{
    height:200px;
    background-size: contain;
}
.menustaf{
  width: 25%;
  height:100%;
background-color:white;
float: left;
color: white;
text-align: center;
}

.vider{
   text-align: center; 
}
.oneof2{
background-color: lightgray;
height: 31%;
color: black;
padding-top: 12%;
}
.oneof21{
height: 31%;
background-color: orangered;
color: white;
padding-top: 12%;
}
.aa{
  padding-top: ;
background-image: url(assets/foodtop/breakfast.jpg);
}
.ab{
    background-image: url(assets/foodtop/lunch.jpg);
}
.ac{
 padding-top: ; 
    background-image: url(assets/foodtop/dinner.jpg);
}
